@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Tombol dengan animasi kedap kedip */
.btn-fill-data {
  width: 100%;
  background: #2762be;
  margin-top: -8px;
  animation: blinking 1s infinite; /* 1s untuk kecepatan animasi, infinite untuk mengulangi secara terus menerus */
}

.btn-fill-data:hover {
  background-color: #2762be;
}

.btn-detail {
  background-color: #2762be !important;
  color: white !important;
}

/* CartV2 */
.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  max-width: 120px;
}

.Bank {
  display: flex;
  align-items: center; /* Pusatkan vertikal konten dan gambar */
}

input {
  margin-left: auto;
}

.saveNoteBtn {
  background-color: #2762be;
}

@media screen and (max-width: 920px) {
  .card-wrapper {
    font-size: 12px !important;
    display: block;
  }

  .text-link {
    font-size: 13px !important;
  }

  .kurir-wrapper {
    font-size: 12px;
    display: block !important;
  }

  .text-item {
    font-size: 12px;
  }

  .btn-fill-data {
    width: 100% !important;
    font-size: 11px;
  }

  .cart {
    margin-top: 90px !important;
  }

  .card-title {
    font-size: 15px;
  }
}
