/* Carousel */
.crsl {
  margin-top: 170px !important;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2762be;
}
.carousel-inner {
  border-radius: 10px 10px 10px 10px;
}

/* Catalog Product */
.catalog-product {
  margin-top: 150px;
}

/* Choose By Categories */
.choose-by-categories {
  margin-top: 150px;
}

/* All Products */
.all-products {
  margin-top: 150px;
}

/* Instagram */
.instagram {
  margin-top: 150px;
}

@media screen and (max-width: 920px) {
  .card {
    display: block;
    margin: auto;
  }

  .card > img {
    width: 250px;
  }

  .choose-by-categories {
    text-align: center;
  }

  .all-products {
    text-align: center;
  }

  .catalog-product > h2 {
    font-size: 30px !important;
  }

  .catalog-product > h6 {
    font-size: 15px !important;
  }

  .choose-by-categories > h2 {
    font-size: 30px !important;
  }

  .all-products > h2 {
    font-size: 30px !important;
  }

  .instagram > h2 {
    font-size: 30px !important;
  }
}
