/* Carousel */
.crsl {
  margin-top: 170px !important;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2762be;
}
.carousel-inner {
  border-radius: 10px 10px 10px 10px;
}

/* Catalog Product */
.catalog-product {
  margin-top: 150px;
}

/* Choose By Categories */
.choose-by-categories {
  margin-top: 150px;
}

.btn-categories {
  background-color: #2762be;
  color: white;
  width: 200px;
}

.btn-categories:hover {
  background-color: transparent;
  border: 3px solid #2762be;
  color: #3b5998;
}

/* All Products */
.all-products {
  margin-top: 150px;
}
