.login-btn {
  width: 200px;
  background-color: #255db4;
}

.nav-item-cart {
  /* Menambahkan jarak di sekitar elemen li */
  padding: 8px;
}

.nav-link-cart {
  /* Menghilangkan garis bawah pada tautan */
  text-decoration: none;
  /* Mengubah warna teks menjadi hitam */
  color: black;
}

.nav-link-cart.active {
  /* Menambahkan background berwarna putih */
  background-color: white;
  /* Mengatur lebar dan tinggi untuk menciptakan bentuk bulat */
  width: 40px;
  height: 40px;
  /* Membuat sudut-sudut elemen menjadi bulat */
  border-radius: 50%;
  /* Menengahkan ikon secara horizontal dan vertikal */
  display: flex;
  justify-content: center;
  align-items: center;
}
