/* toys */
.toys {
  margin-top: 170px !important;
}

.collections {
  margin-top: 50px;
}

/* Neru One */
.neru-one {
  margin-top: 150px;
}
/* Neru Two */
.neru-two {
  margin-top: 150px;
  text-align: end;
}

/* Instagram */
.instagram {
  margin-top: 150px;
}

@media screen and (max-width: 920px) {
  .card {
    display: block;
    margin: auto;
  }

  .card > img {
    width: 250px;
  }

  .neru-one {
    text-align: center;
  }

  .neru-two {
    text-align: center !important;
  }

  .toys > h2 {
    font-size: 30px !important;
  }

  .neru-one > h2 {
    font-size: 30px !important;
  }

  .neru-two > h2 {
    font-size: 30px !important;
  }

  .instagram > h2 {
    font-size: 30px !important;
  }
}
